.ag-header-cell-label .ag-header-cell-text {
    white-space: normal !important;
    text-align: center;
}

.ag-row .ag-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ag-header-cell-label {
    display: flex;
    justify-content: center;
}
