.ag-header-cell-label .ag-header-cell-text {
    white-space: normal !important;
    text-align: center;
}

.ag-header-cell-label,
.ag-header-group-cell-label,
.ag-row .ag-cell {
    display: flex;
    justify-content: center;
}

#divInfo tr,
#divInfo td,
#divInfo th {
    padding: 0 15px;
}

#divInfo th {
    text-align: center;
}

#divInfo table,
#divInfo tr,
#divInfo td,
#divInfo th {
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-right: 60px;
}

input {
    margin: 0.5em;
}

.form-control {
    width: 75%;
}
